$-space-for-icon: 100px;

.contacts {
  margin-right: 40px;

  &__item {
    position: relative;
    display: inline-block;
    margin: 0 40px 65px $-space-for-icon;
    transition: .5s;

    &:hover {
      color: $-c-main-blue;
      transition: .5s;

      &:after {
        transform: scale(1.2);
        transition: .5s;
      }
    }

    //&:hover + &:after{
    //  transform: scale(1.2);
    //  transition: .5s;
    //}

    &:after {
      position: absolute;
      display: block;
      width: 70px;
      height: 70px;
      background: url("../images/Website-link.png");
      content: '';

      top: 0;
      left: -$-space-for-icon;
    }
  }
}