$-vertical-padding: 60px;
$-left-space: 230px;
$-size-for-square: 191px;

.employee {
  position: relative;
  display: inline-block;
  width: 260px;
  margin-left: $-left-space;
  padding: $-vertical-padding 0;

  @media (max-width: 1100px) {
    width: 290px;
    align-self: center;
  }

  &:nth-child(odd) {
    margin-right: 70px;

    @media (max-width: 1100px) {
      margin-right: 0;
    }
  }

  &--charlie {
    &:before {
      @include photo(url("../images/charlie.png"));
    }
  }

  &--sandra {
    &:before {
      @include photo(url("../images/sandra.png"));
    }
  }

  &--alta {
    &:before {
      @include photo(url("../images/alta.png"));
    }
  }

  &--joe {
    &:before {
      @include photo(url("../images/joe.png"));
    }
  }

  &__name {
    margin-bottom: 16px;
  }
}
