@mixin item-width($w: 100%, $left-padding: $-left-padding) {
  width: $w;
  padding-left: $left-padding;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin photo ($url) {
  position: absolute;
  content: '';
  display: block;
  @include square($-size-for-square);
  background: $url;

  top: $-vertical-padding / 2;
  left: -$-left-space;
}